
.navicon{
    margin-left: 2rem;
    font-size: 2rem;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
/* .sidebarnav{
    background: #c14747;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    left: -100;
    transition: 350ms;
    z-index: 10;
} */
.sidebarwrap{
    width: 100%;
}
.sidebarlink{
    display: flex;
    color: #f9f9f9;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    list-style: none;
    height: 60px;
    text-decoration: none;
    font-size: 18px;
    &:hover{
        background: #252831;
        border-left: 4px solid #632ce4;
        cursor: pointer;
    }
}
.sidebarlable{
    margin-left: 16px;
    color: #f5f5f5;
}
.dropdownlink{
    background: #414757;
    height: 60px;
    padding-left: 3rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    &:hover {
      background: #632ce4;
      cursor: pointer;
    }
}
.sidebar{
    background: #000;
    color: #fff;
    height: 100vh;
    /* width: 100%; */
    transition: all 0.5s;
    
}
.sidebar:hover{
        width: 250px;
}
.menu{
    display:block;
    /* position: fixed; */}
.main{
    width: 100%;
}

  