*{
    margin: 0;
    box-sizing: border-box;
    font-family: "CustomFont";
}
@font-face {
    font-family: "CustomFont";
    src: url("../../public/fonts/Roboto-Light.ttf");
}
.page{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cover-register{
    background-color: white;
    width: 30em;
    height: 40em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.formlogin{
    width: 80%;
    display: block;
}
.pass{
    margin-top: 20px;
}
input{
    border: none;
    background-color: rgb(229, 226, 226);
    height: 4em;
    width: 100%;
    border-radius: 0.25em;
    text-align: center;
    padding: 2em;
}
input:focus{
    outline-color: rgb(32, 177, 255);
}
.login-btn{
    width: 40%;
    height: 3em;
    background-color: rgb(32, 177, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}
.login-btn:hover {transform: scale(1.25);}