.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.contrainer{
  display: flex;
  width: 100%;
}
.hearder{
    height: 77px;
    width: 100%;
}
.content{
  width: 100%;
  /* padding: 15px;
  margin-top: 50px; */
}
.content-page{
  padding: 10px;
}

.navbar{
  background: #6478a9;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.user-login{
  display: flex;
  margin-right: 30px;
  color: #fff;
}
.mail-login{
  margin-top: 7px;
}